body{
    color: white;
    background-color: rgb(46, 46, 46);
    font-family:'Courier New', Courier, monospace;
    font-size: xx-large;
}

.error{
padding: 10px;
color: crimson;
border: 1px dotted crimson;
} 

.success{
    padding: 10px;
    color: limegreen;
    border: 1px dotted limegreen;
}